<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/main.css">
    <title><%= title %> </title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-custom navbar-mainbg">
		  	<a class="navbar-brand navbar-logo" href="#">My Blog Web Application</a>
		  	<button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
				<i class="fas fa-bars text-white"></i>
		  	</button>
		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
			  		<div class="hori-selector">
						<div class="left"></div>
			  		</div>
					<li class="nav-item">
						<a class="nav-link" href="/"><i class="far fa-copy"></i>Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/create-new"><i class="far fa-clone"></i>Post New</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="/edit"><i class="far fa-calendar-alt"></i>Edit</a>
					</li> -->
				</ul>
		  	</div>
		</nav>
	</header>
	<main>